.tags {
	text-align: center;
	padding: 5px 0px;
	background-color: transparent;
}

.tag {
	outline: none;
	border: none;
	color: #eee;
	margin: 0px 10px;
	background-color: transparent;
	cursor: pointer;
}

.active {
	font-weight: bold;
}
.container {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;
}

.image-card {
	padding: 5px;
	margin: 5px;
	border-radius: 2px;
}

.image {
	width: 100%;
}