$main-back: rgb(16, 16, 16);
$main-font-col: rgb(246, 246, 246);
$third-header-size: 27px;
$second-header-size: 34px;
$main-nav-col: rgb(46, 46, 46);
$varela-grey: rgb(169, 169, 169);
$varela-blue: rgb(32, 141, 167);
$link-hover-col: rgb(144, 242, 252);
$caption-size: 40px;
$header-back: rgb(216, 216, 216);
$main-pic: $header-back url("/video/Pexels Videos 2675511.mp4") 0 bottom
  no-repeat;
$footer-font-col: hsl(0, 0%, 35%);
$footer-caption-col: hsl(0, 0%, 19%);
$arial: Arial, Helvetica, sans-serif;
$oswald: "Oswald", $arial;
$button-col: hsl(0, 0%, 56%);

// BREAKPOINTS

$large: "only screen and (max-width: 1370px)";
$medium: "only screen and (max-width: 720px)";
$small: "only screen and (max-width: 430px)";

@keyframes hovering {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(3px);
  }
  40% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  border: none;
  font-family: $oswald;
  color: $main-font-col;
}

html,
body {
  height: 100%;
}

.backgroundVid {
  z-index: -99;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: $caption-size;
  margin-bottom: 20px;

  @media #{$small} {
    font-size: $second-header-size;
  }
}

h2 {
  font-size: $second-header-size;
}

h3 {
  font-size: $third-header-size;
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
  display: inline-block;
  position: relative;
  color: $main-font-col !important;

  &::after {
    content: "";
    background: transparent;
    position: absolute;
    height: 3px;
    bottom: -3px;
    left: 0;
    right: 0;
    transition: all 0.3s ease;
  }

  &:hover {
    color: $link-hover-col !important;
    font-weight: lighter;
  }
}

#root {
  background: $main-back;
}

.home {
  &__header {
    height: 100vh;
    background: $main-pic;
    background-color: $main-back;
    z-index: 1;

    @media #{$small} {
      background-color: 0 0;
    }
  }

  &__caption {
    font-size: $caption-size;
    color: rgba(240, 242, 242, 0.8);
    margin-top: 50px;
    transition: all 0.3s ease;
    z-index: 1;
    cursor: pointer;

    @media #{$small} {
      font-size: $second-header-size;
    }

    &:hover {
      color: $link-hover-col;
      font-weight: lighter;
    }
  }

  &__scroll-down {
    width: 50px;
    height: 120px;
    background: url("/img/scroll.png") no-repeat;
    margin-top: 65px;
    animation: hovering 1s ease-in-out infinite;
    color: white;
    cursor: pointer;

    &:hover {
      background: url("/img/scrollHover.png") no-repeat !important;
    }
  }
}

.logo {
  width: 280px;
  height: 150px;
  background: url("/img/HeroTitle.png") no-repeat;
  z-index: 1;
}

.wrapper {
  margin: 0 auto;
  max-width: 1364px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  padding: 60px 0;
  box-sizing: border-box;
  flex-wrap: wrap;

  @media #{$large} {
    padding: 60px 20px;
  }
}

.main-nav {
  display: flex;
  width: 65%;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  flex-grow: 1;
  font-size: $third-header-size;

  @media #{$medium} {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__item {
    text-transform: uppercase;
    display: inline-block;
    color: $main-nav-col;

    &.active {
      color: $varela-blue;

      &::after {
        background: $link-hover-col;
      }
    }
  }
}

.footer {
  width: 100%;
  min-height: 356px;
  background: $varela-grey;
  padding: 45px 0 40px;
  box-sizing: border-box;

  @media #{$medium} {
    background: $header-back;
  }

  &__logos {
    width: 40%;
    display: flex;
    flex-direction: column;
    min-width: 340px;

    @media #{$large} {
      margin-bottom: 40px;
      align-items: center;
      order: 2;
    }
  }

  &__copy {
    font-size: 15px;
    font-family: $arial;
    color: $footer-font-col;
  }
}
